<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protone.fishmodule_layout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Layout"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fish" >
        <activity android:name="com.protone.layout.activity.GithubActivity" />
        <activity android:name="com.protone.layout.activity.ListActivity" />
    </application>

</manifest>