<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protone.fishmodule_layout">

    <application>
        <activity android:name="com.protone.layout.activity.ListActivity" />
        <activity android:name="com.protone.layout.activity.GithubActivity" />
        <activity android:name="com.protone.layout.activity.BlurActivity" />
    </application>

</manifest>